include CHANGELOG.md
include LICENSE.txt
include README.rst
include requirements/base.in
include requirements/constraints.txt
recursive-include payfort payfort/templates *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg
